
/*  Слайдер на главной  */

.mainpage-promo-item.item-2x2 {
	width: 79%; /* Изменил */
  height: 23.75rem;
  margin-right: 13px; /* Изменил */
}
.special-carousel .owl-nav {
	position: absolute;
	width: 100%; /* Добавил */
	right: 1.25rem; /* Необходимо удалить */
	bottom: 50%; /* Изменил */
	text-align: right; /* Необходимо удалить */
}

/* Новое правило */
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
	position: absolute;
}

/* Новое правило */
.owl-carousel .owl-nav .owl-next {
	right: 15px;
}

/* Новое правило */
.owl-carousel .owl-nav .owl-prev {
  left: 15px;	
}

.special-carousel .owl-dots {
	position: absolute;
	left: 0; /* Изменил */
	bottom: .625rem;
	width: 100%; /* Добавил */
	text-align: center; /* Добавил */
}
