/* Измененные стили, начало */
/* style.css */
.checkout .form-auth .checkbox {
	line-height: inherit; 
}

/* main.min.css */
.checkout {
	color: #000;
  margin-bottom: 200px;	/* Добавил */
}

/* Измененные стили, конец */


/* Новые стили, начало */
.checkout .link-back {
	position: relative;
	font-size: 16px;
}

.checkout .link-back .icon-prev {
	position: absolute;
	left: -20px;
	font-size: 16px;
}

.checkout .section-title {
	margin: 45px 0 30px;
}

.checkout .title--primary {
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: bold;
}

.checkout .title--secondary {
	margin-bottom: 25px;
	font-size: 20px;
	font-weight: bold;
}

.checkout .column-left,
.checkout .column-right {
	border-radius: 2px;
	overflow: hidden;
}

.checkout .column-left {
  width: 50.3%;
}

.checkout .column-right {
	width: 48%;
	padding: 40px 25px 20px;
	margin-bottom: 20px;
	background-color: #fff;
}

.checkout .column-left {
	padding: 40px;
	background-color: #fff;
}

.form-checkout .fieldset {
	margin-bottom: 30px;
}

.form-checkout .form-group {
  margin-top: 12px;
  margin-bottom: 12px;
}

.form-checkout .form-footer {
	margin-top: 110px;
}

.form-checkout .control-label,
.form-checkout .input-col {
	display: table-cell;
	height: 33px;
	vertical-align: middle;
}

.form-checkout .control-label,
.form-checkout .radio-label,
.form-checkout .checkbox-label,
.form-checkout .form-control {
	font-size: 16px;
	font-weight: 400;
}

.form-checkout .control-label {
	position: static;
  width: 205px;
  color: #989798;
}

.form-checkout .form-group.focused .control-label {
	font-size: 16px;
	top: 0;
}

.form-checkout .form-control {
  height: 33px;
	padding: 0 10px;
	border: 1px solid #e1e1e1;
	border-radius: 2px;
}

.form-checkout .tel--control {
	width: 166px;
}

.form-checkout .form-control.textarea--control {
	width: 290px;
	height: 109px;
	padding: 10px;
	border: 1px solid #e1e1e1;
}

.form-checkout .form-control:focus {
	border-color: #644b8b;
}

.form-checkout .select-target.select-theme-default {
	padding: .5rem 1.7em .5rem 1em;
}

.form-checkout .select-target.select-theme-default {
	width: auto;
	font-size: 16px;
	color: #000;
	background: #fff;
}

.form-checkout .select-target.select-theme-default::after {
	content: "";
	width: 0;
	height: 0;
	margin-top: 0;
	border-style: solid;
	border-width: 4px 4.5px 0 4.5px;
	border-color: #644b8b transparent transparent transparent;
}

.form-checkout .form-group--delivery .control-label {
  vertical-align: top;
	padding-top: 18px;	
}

.form-checkout .input-col .btn-purple {
	padding: 8px 6px 8px 10px;
	border: 1px solid #64498d;
}

.form-checkout .input-col .btn-purple .icon-next {
  vertical-align: top;
	margin-left: 3px;
	opacity: .6;	
}

.form-checkout .input-col .btn-purple:hover {
	color: #fff;
	background-color: #64498d;
}

.form-checkout input[type="radio"],
.form-checkout input[type="checkbox"] {
	display: none;
}

.form-checkout .radio-label,
.form-checkout .checkbox-label {
  position: relative;
	padding-left: 30px;
	margin-right: 20px;
	margin-bottom: 0;
	font-size: 16px;
	font-weight: 400;
	cursor: pointer;
}

.form-checkout .radio-label::before,
.form-checkout .radio-label::after,
.form-checkout .checkbox-label::before,
.form-checkout .checkbox-label::after {
  content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	transition: .3s;
}

.form-checkout .radio-label::before,
.form-checkout .radio-label::after {
  border-radius: 50%;
}

.form-checkout .checkbox-label.checked::after {
  content: "\e930";
	left: 0px;
	font-size: 22px;
	font-family: icons !important;
	color: #000;
}

.form-checkout .radio-label::before,
.form-checkout .checkbox-label::before {
  left: 0;
  width: 20px;
	height: 20px;
	border: 1px solid #e1e1e1;
}

.form-checkout .radio-label.checked::after {
	left: 6px;
	width: 8px;
	height: 8px;
	background-color: #000;
}

.talapai-title {
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	color: #64498d;
}

.form-checkout .talapai-title {
	margin-top: 18px;
	margin-bottom: 10px;
}

.form-checkout .description {
	width: 225px;
	margin-bottom: 15px;
	font-size: 15px;
	line-height: 1.3;
}

.form-checkout .courier-delivery-group,
.form-checkout .self-delivery-group {
  transition: .3s;
}

.form-checkout .self-delivery-group {
  position: absolute;
  top: -12px;
  opacity: 0;
  visibility: hidden;
}
	
.form-checkout .form-group--payment .control-label {
	vertical-align: top;
}

.form-checkout .form-group--payment .radio-label {
	display: block;
}

.form-checkout .form-group--payment .radio-label + .radio-label {
	margin-top: 20px;
	margin-bottom: 10px;
}

.form-checkout .checkout-total-amount {
	font-size: 20px;
	font-weight: bold;
}

.form-checkout .checkout-total-bonus {
	position: relative;
	font-size: 18px;
	color: #64498d;
	z-index: 1;
}
.form-checkout .checkout-total-bonus::after {
	content: "";
	position: absolute;
	top: 50%;
	left: -8px;
	width: calc(100% + 16px);
	height: calc(100% + 10px);
	font-size: 18px;
	color: #64498d;
	border-radius: 2px;
	background-color: #fcc42e;
	transform: translateY(-50%);
	z-index: -1;
}

.form-checkout .btn-confirm {
	padding: 13px 35px;
	margin-top: 45px;
	font-size: 16px;
  color: #fff;
	border-radius: 2px;
	background-color: #64498d; 
}

.checkout .purchase-product-item + .purchase-product-item {
	border-top: none;
}

.checkout .purchase-product-item {
	border-bottom: 1px solid #e1e1e1;
}

.checkout .purchase-product-item-sum {
	font-size: 18px;
}

.checkout .advantage-list {
  padding: 0;
  margin-top: 50px;
}

.checkout .advantage-item {
  display: table;
}

.checkout .advantage-item + .advantage-item {
  margin-top: 55px;
}

.checkout .advantage-item-img {
  display: table-cell;
  width: 120px;
	padding-right: 35px;
	text-align: center;
	vertical-align: middle;
}

.checkout .advantage-item .title--secondary {
	margin-bottom: 7px;
}

.checkout .advantage-item-description {
  margin: 0;
  font-size: 16px;
  line-height: 1.6;
  color: #989798;
}

.checkout .item-count-box {
  font-size: 16px;
}

.purchase-product-total {
	position: relative;
	margin: 30px 0 40px;
	font-size: 16px;
	text-align: right;
}

.purchase-product-total .product-total-number,
.purchase-product-total .product-total-sum {
	margin: 0 5px;
	font-size: 16px;
	font-weight: bold;
}

.purchase-product-total .product-total-bonus {
	position: absolute;
	top: 22px;
	right: 0;
	padding: 5px;
	font-size: 14px;
	font-weight: 400;
	color: #623880;
	border-radius: 2px;
	background-color: #fcc42e;
}

.purchase-product-total .product-total-bonus .bonus-number {
	margin-left: 4px;
}

.color-gray {
  color: #989798;	
}

.form-checkout .form-bonus {
	position: relative;
	float: right;
	width: 355px;
  padding: 27px 25px 18px;
  margin-top: 5px;
  border: 1px solid #fcc42e;
  border-radius: 2px;
}

.form-checkout .form-bonus::before,
.form-checkout .form-bonus::after {
  content: "";
  position: absolute;
  width: 0;
	height: 0;
	border-style: solid;
}

.form-checkout .form-bonus::before {
	top: -15px;
  left: 21px;
  border-width: 0 15px 15px 15px;
  border-color: transparent transparent #fff;
  z-index: 2;
}

.form-checkout .form-bonus::after {
  top: -16px;
  left: 20px;
  border-width: 0 16px 16px 16px;
  border-color: transparent transparent #fcc42e;
  z-index: 1;
}

.form-checkout .form-slider-label {
  display: table-cell;
  width: 125px;
  font-size: 16px;
  font-weight: 400;
  color: #989798;
  vertical-align: middle;
}

.form-checkout .form-bonus .form-group {
  display: table;
}

.form-checkout .form-bonus .form-control {
	color: #000;
}

.form-checkout .form-bonus .form-group.form-slider {
  display: block;
  padding-left: 10px;
  margin-top: 17px;
}

.form-checkout .form-bonus .slider-horizontal {
	max-width: 100%;
}

.form-checkout .form-bonus .slider-handle {
	width: 12px;
	height: 12px;
	background: #fcc42e;
}

.form-checkout .form-bonus .slider.slider-horizontal .slider-track {
	height: 4px;
}

.form-checkout .form-bonus .slider-track-high {
	background: #623880; 
}

.form-checkout .form-bonus .yours-bonus {
	padding-left: 10px;
	font-size: 16px;
	color: #623880
}

.form-checkout .form-group--bonus {
  margin-bottom: 0;
}

.form-checkout .form-group--slider {
	display: none;
  padding-top: 13px;
  margin-top: 0;
}

.form-checkout .form-footer {
	position: relative;
}

.form-checkout .form-footer::before {
	content: "";
	position: absolute;
	top: -62px;
	left: -42px;
	width: calc(100% + 85px);
	height: 12px;
	background-image: url(../images/perforation.svg);
	background-repeat: repeat-x;
}