
/*  Шапка сайта  */


/* Новое правило */
.nav-extra .list-item-talapoint {
	font-size: 13px;
	color: #644b8b;
  padding-left: 10px;
}

/* Новое правило */
.list-item-talapoint .icon-circle {
  margin: -0.205rem .0150rem 0 0;
	font-size: 10px;
}

.nav-extra li {
	padding: 0 .3rem; /* Изменил */
}

.nav-extra .icon-bonuses {
	position: relative;
	background: #fcc42e; /* Необходимо удалить */
	border-radius: 50%; /* Необходимо удалить */
	color: #000; /* Необходимо удалить */
	width: 1.2rem; /* Изменил */
	height: 1.1rem; /* Изменил */
	background-image: url(/web/images/coin.png);
	background-size: 100% 100%; /* Добавил */
	left: 3px; /* Добавил */
}

.rycle-informer {
  margin: .25rem 0 0 1.2rem; /* Изменил */
}

.rycle-informer.active .icon-rycle {
  position: relative; /* Добавил */
  padding-left: 20px; /* Добавил */
  color: #5bb757; /* Необходимо удалить */
}

.rycle-informer .icon-rycle::before {
  content: ""; /* Изменил */
  background-image: url(/web/images/cart.png); /* Добавил */
  width: 20px; /* Добавил */
  height: 20px; /* Добавил */
  position: absolute; /* Добавил */
  background-size: contain; /* Добавил */
  background-repeat: no-repeat; /* Добавил */
  top: -10px; /* Добавил */
  left: 0; /* Добавил */
}

.topline .column-sitemap {
  width: 13.354%; /* Изменил */
}

.topline .column-nav {
  width: 55.8%;
}

.topline .column-auth {
  width: 15%; /* Изменил */
}

@media (min-width: 1041px) {
  .topline .column-auth {
    width: 19%; /* Изменил */
  }

  /* Новое правило */
  .nav-extra .list-item-talapoint {
    padding-left: 0;
  }
}